
/*Color scheme
primary: #001F42
dark: #0f141a
light-primary: #002D61
light-secondary: #004594

others:
  #3e83D0 (light)
  #005DC7 (medium light)
*/

* {
  font-family:Arial, Helvetica, sans-serif;
  color: white;
}

/* html {
  height: 75%;
} */

body {
  height: 100%;
  /* background-color: #00244D!important; */
  background-color: #001F42!important;
}

.navbar {
  height: 60px;
  z-index: 100;
}

.fixed-bottom {
  height: 2rem;;
}

.nav-item {
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  border: solid grey 2px;
  border-radius: 5px;
}

.dropdown-item:hover {
  border: solid grey 2px;
  border-radius: 5px;
}

.active {
  border: 1px solid white;
  border-radius: 5px;
}

.bg-dark, .info, .info-small, .dropdown, .dropdown-menu, .dropdown-item {
  background-color: #0f141a!important;
}

.dropdown-menu {
  border-radius: 10px;
}

.info-header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem; 
}

.info {
  margin: 1rem;
  font-size: 1rem;
  color: white;
  border: 1px solid grey;
  border-radius: 15px;
  width: 40vw;
  padding: 1rem;
  opacity: 85%;
  /* max-height: 75vh; */
  padding: 5rem;
}

.light-theme {
  color: black;
  background-color: #A5AFBB;
  opacity: 85%;
}

.light-theme > p {
  color: black;
}

.light-theme > div {
  color: black;
}

.float-right {
  float: right;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.large-button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  background-color: #002D61;
  border-radius: 10px;
  padding: 1rem 5rem 1rem 5rem;
  border: 0.1px solid #4590E6;
}

.large-button:hover {
  text-decoration: none;
  border: none;
  background-color: #004594;
}

.mid-tagline {
  margin-left: 5rem;
  margin-top: 3rem;
}

.last-tagline {
  margin-left: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bg-dark {
  opacity: 85%;
}

.navbar-collapse {
  background-color: #0f141a!important;
  opacity: 100%!important;
  z-index: 10;
  display: flex;
  align-content: center;
  border-radius: 0 0 10px 10px;
}

.navbar-brand {
  padding: 0;
}

.grid-view {
  padding: 2rem;
  display: flex;
  align-items: center;
}

.grid-image {
  width: 33%;
  height: 33%;
  border-radius: 10px;
}

.main-view {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:not(.nav-item) {
  color: #3e83D0;
}

.nav-item > a:not(.grey-link) {
  color: white !important;
  opacity: 100%!important;
  text-decoration: none;
}

.dropdown-item {
  color: white !important;
  opacity: 100%!important;
}

.button-wrapper > a {
  color: white !important;
  opacity: 100%!important;
  text-decoration: none;
}

.about {
  display: flex;
  justify-content: center;
}

.flex-columns {
  display: flex;
}

.square-image {
  max-height: 20rem;
  max-width: 30rem;
}

.profile {
  border-radius: 15px 0 0 15px;
}

@media only screen and (min-width: 901px) {
  .mobile-only {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .navbar-collapse > .navbar-nav {
    margin-left: auto;
  }
  .nav-item {
    width: 20rem;
  }
  .nav-link {
    width: 20rem;
  }
  .main-view {
    height: auto;
    padding: 2rem;
  }
  .grid-view {
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 3rem;
  }
  .grid-image {
    width: 100%;
  }
  .fullscreen {
    display: none; 
  }
  .info {
    width: auto;
    max-width: 50vh;
    max-height: 80%;
    padding: 1rem;
  }
  .bg-dark {
    opacity: 100%;
  }
  .mid-tagline {
    margin-left: 0;
  }
  
  .last-tagline {
    margin-left: 0;
  }
  .large-button {
    padding: 1rem;
  }
  .footer-text {
    padding-left: 0rem!important;
  }   
}

.background-image {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  opacity: 0.6;
}

.light-background-image {
  opacity: 100%;
}

.transparent {
  opacity: 0.1
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
}

/* .header {
  display: flex;
  justify-content: center;
  margin: 1rem;
} */

.footer-text {
  color: gray!important;
  padding-left: 2rem;
}

.grey-link {
  text-decoration: underline;
}